*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;

}

.clearfix::after{
    content: " ";
    clear: both;
    display: block;
}

.container{
    width: 100%;
    max-width: 100%;
    height: 100%;

}



.header{
    background-color:#fff;
    
    
}

/*
.nav{
    margin-top: 10px;

}
*/

.my-name{
    color: #fff;
    background-color:#4aaaa5; 
    font-size: 40px;
    display: inline-block;
    padding: 7px;
    margin-bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}


.navi-buttons{
    
    float: right;

}
.navi-buttons li{
    display: inline-block;
   
    


}
.navi-buttons li a:link,
.navi-buttons li a:visited{
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
    color: #777777;
    letter-spacing: 1.5px;
    border-bottom: solid;
    border-bottom-color: transparent;
 


}

.navi-buttons li a:active,
.navi-buttons li a:hover {
        color: #4aaaa5;
        border-bottom: solid;
        font-size: 108%;
   


}




.section{
    background-color: aqua;
    height: 95%;
    background-color: #f3ffe9;
    border-top: solid 5px #cccccc; 
    
    
    
}



.article{
    background-color: #ffffff;
    border: solid 2px #dddddd;
    margin: 5% 7% 0;
    
    
     

}


.parttwo{
        font-size: 22px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #4aaaa5; 
        border-bottom: solid #dddddd;
        padding: 20px;
        margin: 20px;
        font-weight: bold;
        
}

.pic-text{
    margin: 20px;

}

.partthree{
    color: #777777;
    letter-spacing: 1.5px;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 10px;
}

.mypic{
    float: left;
    margin: 10px;
    width: 150px
}



  /*sticky footer*/
.container{
   
     display: flex;
     flex-direction: column;
}

.top{
    flex: 1 0 auto;
}

.footer{
    height: 5%;
    background-color: #666666;
    color: white;
    text-align: center;
    flex-shrink: 0;

}

/***************portfolio**************/

.boxes{

    display: flex;
    background: #fff;
    justify-content: center;
    margin: 10px;
    


}

 
.boxes > div {
    background-color: #fff;
    margin: 0 30px;  
    font-size: 20px;
    color: #fff;
    

  }




.flex-container{
    position: relative;
    text-align: center;
    color: white;
}

.text-position{
position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4aaaa5;
  width: 150px;
  padding: 3px 0;

}


.pic-port-size{
    width: 150px;
}

.link-decoration{
    text-decoration: none;
    color: white;

}




